@font-face {
    font-family: 'Barlow Light';
    src: url('./assets/Barlow-ExtraLight.otf') format('opentype');
}
@font-face {
    font-family: 'Barlow';
    src: url('./assets/Barlow-Light.otf') format('opentype');
}

@keyframes borderAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: white;
    background-image: url('./assets/bg.jpg');
    background-size: cover;
    background-position: center;
  }

input {
    margin: 0;
    padding: 0;
}
  
.chatbox {
  position: relative;
  background: #000612;
  text-align: center;
  max-width: 400px;
  width: 90%;
  padding: 40px;
  border-radius: 20px;
  color: white;
  z-index: 1;
  overflow: hidden;
}

/* Animated border with glowing effect */
.chatbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
  border-radius: 24px;
  background: linear-gradient(135deg, #00bfff,#00bfff, #ff00ff, #4d00ff);
  background-size: 300% 300%; /* bigger so we can shift it */
  background-position: 0% 50%;
  animation: borderAnimation 7s linear infinite;

  -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
}

  
  #heading {
    font-family: "Barlow Light", sans-serif, monospace;
    margin-top: 50px;
    margin-bottom: 50px; 
}


  
  .chatbox input {
    font-family: "Barlow", sans-serif, monospace;
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: transparent;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    outline: none;
    color: white;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .button-row button {
    font-family: "Barlow", sans-serif, monospace;
    flex: 1;
    padding: 12px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .button-row button:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  